<% provide(:title, '編集')%>
<h1><%= resource_name.to_s.humanize %>情報編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: update_user_registration_path, html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :user_name, "フルネーム" %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :pen_name, "ユーザーネーム" %><br />
        <%= f.text_field :pen_name, autofocus: true, autocomplete: "name" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

      <div class="field">
        <%= f.label :password, "新しいパスワード" %> <i>(空欄の場合は，変更しません。)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新しいパスワード再確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワード" %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "編集完了", class:"btn btn-primary" %>
      </div>
    <% end %>
    <br/>
    <p>
      アカウント削除
      <%= button_to "削除", update_user_registration_path,
        class:"btn btn-danger", data: { confirm: "本当に削除しますか？" }, method: :delete %>
    </p>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">プロフィール写真を変更する</a>
    </div>
  </div>
</div>
