<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
  <a href="<%= like_user_path(@user) %>">
    <strong id="like" class="stat">
      <%= @user.photo_likes.count %>
    </strong>
    いいね！回数
  </a>
  <a href="#">
    <strong id="like" class="stat">
      <%= PhotoLike.where(photo_id: @user.photos.ids).count %>
    </strong>
    いいね！された回数
  </a>
</div>
