<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
  <!--課題：いいね！取得件数の統計情報を作成する-->
  <a href="<%= like_user_path(@user) %>">
    <strong id="like" class="stat">
      <%= @user.photo_likes.count %>
    </strong>
    いいね！
  </a>
</div>
