<div>
  <aside class="col-2 col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
    </section>
  </aside>
  <section class="col-4 col-md-8">
    <div class="user_info">
      <h2 class="text-left"><%= @user.user_name %></h2>
      <% if current_user == @user %>
        <%= link_to "プロフィール編集", edit_user_registration_path %>
      <% else %>
          <%= render 'users/follow_form' %>
      <% end %>
      <h3>投稿写真：<%= @user.photos.count %>枚</h3>
      <h3>ユーザーネーム：<%= @user.user_name %></h3>
      <h3>自己紹介：<%= @user.introduction %></h3>
      <h3>Webサイト：<%= @user.website %></h3>
      <%= render 'shared/stats' %>
    </div>
  </section>
</div>
