<% if user_signed_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "InstaClone", root_path , id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "検索フォーム設置予定", photos_path %></li>
          <li><%= link_to "通知", '#' %></li>
          <li><%= link_to "ユーザー", user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<% end %>
